@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; /* Remplace 'scroll' qui forçait un ascenseur inutile */
  background-color: #121212;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0px; /* Cache la scrollbar si elle est inutile */
}